<?xml version="1.0"?>
<!--
  Author: Jaroslav Klapálek <klapajar@fel.cvut.cz>
  Description: Launch a node for obstacle server (C++).
-->
<launch>
  <arg name="/scan" default="" doc="Topic for remapping the '/scan'." />
  <arg name="/obstacles_in" default="" doc="Topic for remapping the '/obstacles_in'." />
  <arg name="/obstacles_out" default="" doc="Topic for remapping the '/obstacles_out'." />

  <node pkg="obstacle_server_cpp" type="obstacle_server_cpp_node" name="obstacle_server_cpp" output="screen">
    <remap from="/scan" to="$(arg /scan)" if="$(eval arg('/scan') != '')" />
    <remap from="/obstacles_in" to="$(arg /obstacles_in)" if="$(eval arg('/obstacles_in') != '')" />
    <remap from="/obstacles_out" to="$(arg /obstacles_out)" if="$(eval arg('/obstacles_out') != '')" />
  </node>
</launch>
